html {
    font-size: 16px;
    font-family: 'Vollkorn', serif;
    font-family: 'Yantramanav', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.navcontainer {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1;
    background-image: url('../images/blue-wallpaper-preview-1.jpg');
    background-size: cover;
}

.navcontainer .nav-ul {
    width: 75%;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 3rem;
}

.nav-list-item {
    display: inline-flex;
    font-size: 2rem;
}

.nav-list-item a {
    text-decoration: none;
    padding: .2em 1em;
    color: white;
}

.nav-list-item a:hover {
    color: navy;
    background-color: white;
}


@media only screen and (max-width: 800px) {
    label {
        display: inline-block;
        color: #fff;
        padding: 1rem;
        width: 100%;
        color: #fff;
        font-size: 2rem;
    }

    #hamburger {
        display: none;

    }

    /* Make menu items vertical list */
    .navcontainer .nav-ul .nav-list-item {
        display: block;
        border-top: 1px solid white;
    }

    .navcontainer .nav-ul {
        display: none;
    }

    .navcontainer input:checked ~ .nav-ul {
        display: block;
        text-align: left;
        width: 20rem;
    }

    .navcontainer input:checked ~ .nav-ul .nav-list-item {
        padding: 0;
    }
}


@media only screen and (min-width: 801px) {
    /* large screens */
    
    .navcontainer label, #hamburger {
        display: none;
    }
}