html {
    padding-top: 0;
    margin-top: 0;
}

header {
    padding-top: 6rem;
    margin-left: 1rem;
}

header h1 {
    color: white;
    margin-top: 0;
    display: block;
}

header .header-text {
    font-size: 1.5rem;
    color: white;
}