html {
    padding-top: 0;
    margin-top: 0;
}

.home-header {
    padding-top: 6rem;
    display: flex;
    width: 100%;
    height: 20rem;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(../images/blue-wallpaper-preview-24.jpg);
    background-size: cover;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-name {
    color: white;
    padding: 1rem;
    border: 3px solid white;
    border-radius: 10px;
    font-size: 4.0rem;
    font-family: Yantramanav, sans-serif;
    margin-bottom: 5px;
}

.my-tagline {
    margin-top: 5px;
    color: white;
    font-size: 1.5rem;
}

.home-header img {
    width: 25rem;
    height: auto;
}

.social {
    padding: 3rem 0;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#273469;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.social-icons img {
    width: 75px;
    height: auto;
    padding: 0 2rem;
}

.social-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.social-tagline {
    width: 100%;
    height: auto;
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 2rem;
}

.social-text {
    width: 60%;
    height: auto;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.bold {
    font-weight: bold;
}

.work {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../images/blue-wallpaper-preview-1.jpg');
    background-size: cover;
    padding-bottom: 3rem;
}

.section-head {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Yantramanav', sans-serif;
    font-size: 3rem;
}

.work .section-head {
    color: white;
}

.work .work-display {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.kevinbisner-com {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.kevinbisner-com img {
    width: 45%;
    height: auto;
}

.kevinbisner-com .kevinbisner-text {
    width: 45%;
    height: auto;
    color: white;
    font-size: 1.5rem;
}

.timberfoottech-com {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.timberfoottech-com img {
    width: 45%;
    height: auto;
}

.timberfoottech-com .timberfoot-text {
    width: 45%;
    height: auto;
    color: white;
    font-size: 1.5rem;
}

.contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    color: #273469;
}

.contact .section-head {
    color: #273469;
}

.contact-display {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contact-text {
    width: 70rem;
    height: auto;
}

.contact-text h2 {
    font-size: 2rem;
}

.contact-text p {
    font-size: 1.5rem;
}

.contact-form {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 70rem;
    color: #273469;
    font-size: 2rem;
    margin-bottom: 2rem;
}

form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: auto;
    border-color: transparent;
}

.form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #273469;
    color: #273469;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.contact-form button {
    width: 15rem;
    height: 3rem;
    margin-top: 2rem;
    font-family: 'Yantramanav', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
    background-color: #273469;
    color: white;
    border-radius: 10px;
    align-self: center;
}
footer {
    text-align: center;
}

@media only screen and (max-width: 800px) {

    .home-header {
        width: 100%;
        height: auto;
        justify-content: center;
        align-self: center;
        background-image: url(../images/blue-wallpaper-preview-24.jpg);
        background-size: cover;
    }
    .home-header .header-content {
        width: 100%;    }

    .home-header img {
        display: none;
    }

    .my-name {
        color: white;
        padding: 1rem;
        border: 3px solid white;
        border-radius: 10px;
        font-size: 3rem;
        font-family: 'Yantramanav', sans-serif;
        margin-bottom: 2px;
    }

    .my-tagline {
        margin-top: 3px;
        color: white;
        font-size: 1.25rem;
    }

    .social {
        width: 100%;    
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #273469;
        border: 2px solid green;
    }

    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: auto;
    }

    .social-icons img {
        width: 40px;
        height: auto;
    }

    .social-tagline {
        margin: 1rem;
        display: flex;
        width: 80%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .social-text {
        font-size: 1.25rem;
        width: 80%;
        height: auto;
    }

    .section-head {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Yantramanav', sans-serif;
        font-size: 2rem;
    }
    .work {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('../images/blue-wallpaper-preview-1.jpg');
        background-size: cover;
        padding-bottom: 1rem;    
    }

    .work .work-display {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .kevinbisner-com {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .kevinbisner-com img {
        width: 80%;
        height: auto;
    }

    .kevinbisner-com .kevinbisner-text {
        padding: 1rem;
        font-size: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: auto;
    }

    .timberfoottech-com {
        padding: 1rem 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .timberfoottech-com img {
        width: 80%;
        height: auto;
    }

    .timberfoottech-com .timberfoot-text {
        display: flex;
        font-size: 1.25rem;
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: auto;
    }

    .contact {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
        color: #273469;
        
    }

    .contact-display {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
    }

    .contact-text {
        width: 100%;
        height: auto;
    }

    .contact-text h2 {
        font-size: 1.50rem;
        text-align: center;
    }

    .contact-text p {
        font-size: 1.25rem;
    }

    .contact-form {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        color: #273469;
        font-size: 2rem;
        margin-bottom: 2rem;  
    }
    
    form {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        border-color: transparent;
    }

    .form-control {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 1px solid #273469;
        color: #273469;
        font-family: 'Yantramanav', sans-serif;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .contact-form button {
        width: 15rem;
        height: 2rem;
        margin-top: 2rem;
        font-family: 'Yantramanav', sans-serif;
        font-size: 1.25rem;
        letter-spacing: 2px;
        background-color: #273469;
        color: white;
        border-radius: 10px;
        align-self: center;
    }
}



@media only screen and (min-width: 769px) {
    /* large screens */
    
}