{% extends 'home/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href='{% static "css/post_list.css" %}' type="text/css">
{% endblock %}

{% block content %}
<header>
    <h1>Subscribe option coming soon!</h1>
</header>

<div class="blog-container">
    <div class="blogs-rendered">
        {% for post in posts %}
        {% if post.published %}
        <div class="posts">
            <p class="title">{{ post.title }}</p>
            <p class="tagline">Created by: {{ post.author }} on {{ post.published_on }}</p>
            {% if post.has_been_updated %}
            <p class="tagline">Updated by: {{ post.author }} on {{ post.updated_on }}</p>
            {% endif %}
            <p class="text">{{ post.body|linebreaks }}</p>
            <hr />
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <div class="twitter-feed">
        <a class="twitter-timeline" data-width="220" data-height="600"
            href="https://twitter.com/KevinBisner?ref_src=twsrc%5Etfw">
            Tweets by KevinBisner</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</div>
{% endblock %}