{% extends 'home/base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href='{% static "css/blog_detail.css" %}' type="text/css">
{% endblock %}

{% block content %}
<header>
    <h1>Subscribe to my blog (put form here to sign up):</h1>
</header>

<div class="blog-container">
    <div class="blogs-rendered">
        {% for id in posts %}
        <div class="blogs-posted">
            <p class="blog-title">{{ id.blog_title }}</p>
            <p class="blog-tagline">Created by: {{ id.blog_user }} on {{ id.blog_date }}</p>
            <p class="blog-text">{{ id.blog_text }}</p>
            <hr />
        </div>

        {% endfor %}
    </div>
    <div class="twitter-feed">
        <a class="twitter-timeline" data-width="220" data-height="600"
            href="https://twitter.com/KevinBisner?ref_src=twsrc%5Etfw">
            Tweets by KevinBisner</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</div>
{% endblock %}